body{
    background-image: url(imagenes/asdasd.jpg);

}







h1{
    text-align: center;
    background-color: rgb(231, 65,39);
    color:black;
    font-family: 'Playfair Display', serif;
    




}


